/Congalton AA equation generalized TC_KAM.xlsx
/documentation
/GpMessages
/ImportLog
/Index
/KAMaccuracy.aprx
/KAMaccuracy.atbx
/KAMaccuracy.gdb
/KAMmosaics.Overviews
/KAM_Accuracy_Points_2022.gdb
/KAM_Accuracy_Points_2022.gdb.zip
/RasterFunctionsHistory
/RasterFunctionTemplates
/results
/~$Congalton AA equation generalized TC_KAM.xlsx
/*.R
/.Rproj.user
/.RData
/scripts/kam_acc_Rscripts
/*.tfw
/*.tif*
/*.atbx
